*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
    body {
        background-color: black;
        color: green;
           
    }

    div{
        display: flex;
        justify-content: center;
        justify-self: center;
        border: 2px green solid;
        display: block;
        width: 60%;
        height: 650px;
    }
   h1 {
       text-align: center;
       font-size: 60px;
   }
    
   div >p {
        margin-top: 20px;
        font-size: 30px;
    }