*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: rgb(52, 47, 65);

}

div{
display: flex;
align-items: center;
justify-content: center;
justify-items: center;

}
.gameScreen{
border: white 4px solid;
width: 50%;
height: 900px;
margin: 0 auto;
position: relative;
background-color: rgb(68, 68, 110);
overflow-x: hidden;
overflow-y: hidden; 
}

.raceTrack{
width:900px;
height: 890px;
position: absolute;
}

.tracks{
position: absolute;
width: 100px;
top: 10px;
animation: trackAnimation 200ms infinite;
height: 1000px;
}


@keyframes trackAnimation{
from{transform: translateY(-120px)}
to {transform: translateY(40px);}
}

.borderTracks{
width: 720px;
position: absolute;
animation: borderTrackAnimation 300ms infinite;
}

@keyframes borderTrackAnimation{
from{transform: translateY(-50px)}
to {transform: translateY(100px);}
}

.player{
position: absolute;
width: 30%;
margin-top: 140%;
margin-left:110px;
animation:playerMove 200ms  ;
}

@keyframes playerMove{
from{margin-left: 110px;}
to{margin-left: -110px;}
}
.enemy{
position: absolute;
width: 30%;
margin-top: -140%;
margin-left:110px;

    
}