*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: rgb(52, 50, 65);
color: white;
background-image: url(/Images/menuBackground.gif);
}

body > div > h1{
background-color:rgb(0, 0, 0) ;
color: yellow;
font-size: 74px;
text-align:center ;
margin-left: auto;
margin-right: auto;
border: whitesmoke solid 5px;
display: inline-block;
padding: 10px;
width: 30%;
}


div > p{
margin-top: 15px;
background-color: black;
color: white;
padding: 5px;
border: solid rgb(255, 255, 255) 5px;
display: block;
font-size: 50px;
width: 30%;
text-align: center;
}
a > p{
margin-top: 15px;
background-color: black;
color: white;
padding: 5px;
border: solid rgb(255, 255, 255) 5px;
display: block;
font-size: 50px;
width: 30%;
text-align: center;
text-decoration:none;
}