@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
body{
background-color: rgb(52, 47, 65);

}

div{
display: flex;
align-items: center;
justify-content: center;
justify-items: center;

}
.gameScreen{
border: white 4px solid;
width: 860px;
height: 900px;
margin: 0 auto;
position: relative;
background-color: rgb(68, 68, 110);
overflow-x: hidden;
overflow-y: hidden; 
}

.raceTrack{
width:900px;
height: 890px;
position: absolute;
}

.tracks{
position: absolute;
width: 100px;
top: 10px;
animation: trackAnimation 200ms infinite;
height: 1000px;
}


@keyframes trackAnimation{
from{transform: translateY(-120px)}
to {transform: translateY(40px);}
}

.borderTracks{
width: 720px;
position: absolute;
animation: borderTrackAnimation 300ms infinite;
}

@keyframes borderTrackAnimation{
from{transform: translateY(-50px)}
to {transform: translateY(100px);}
}

.player{
position: absolute;
width: 19%;
top: 700px;
left:401px;
}

.enemy{
position: absolute;
width: 19%;
top: -135px;
left:290px; 
animation: enemyAnimation infinite 5s;
}

@keyframes enemyAnimation{
0%{top : -135px}
100%{top: 900px}
}

.points{
position: absolute;
font-size: 50px;
color: white;
margin: 1%;


}

.control{
    position: absolute;
    user-select: none;
    bottom: 10%;
    left: 50px;
}